<h3>Listing carpooling requests</h3>

<div class="container"><table class="bg-primary1">
  <thead>
    <tr>
      <th>What</th>
      <th>Who</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <td style="padding-right: 200px"><%= post.title %></td>
        <td style="padding-right: 100px"><%= post.user.first_name %></td>

        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
